/vinikacode
.gitignore
# Ignore all .class files
*.class
# Ignore all .log files
*.log
# Ignore
*.gitignore
tempCodeRunnerFile.java
JAVA/tempCodeRunnerFile.java
# Ignore tempcodeRunnerFile
# Ignore all files in the vinikacode directory